@import 'ui-variables';
@import 'ui-mixins';

.account-sidebar {
  flex: 1;
  height: 100%;
  background-color: @source-list-bg;

  .item.deleted {
    opacity: 0.5;
  }

  .outline-view:first-child {
    .heading span {
      margin-right: 30px;
    }
  }

  .outline-view .heading[draggable='true'],
  .outline-view .item[draggable='true'] {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .outline-view .item-container.dropping > .item {
    box-shadow: inset 0 2px 0 @component-active-color;
  }
}

.account-switcher {
  position: absolute;
  top: 7px;
  right: 17px;
  z-index: 3;
  img {
    transform: rotateX(180deg);
  }
}
